# requirements.txt

fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
passlib[bcrypt]
requests
python-jose
cryptography
# NOVO: Necessário para processar o formulário de login (OAuth2PasswordRequestForm)
python-multipart
