# requirements.txt (Versão FINAL)

fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
passlib[bcrypt]
requests
python-jose
cryptography
python-multipart
# NOVO: Garante que o bcrypt esteja explicitamente listado como pacote separado
bcrypt
